<footer>
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li class="float-end"><a href="#top">Back to top</a></li>
                <li>
                <a class="left" href="https://blog.bootswatch.com/">FAQ </a>-
                <a href="https://twitter.com/bootswatch">Mention légale </a>-
                <a href="https://github.com/thomaspark/bootswatch">Condition d'utilisation </a>-
                <a href="../help/#api">Contact </a>-
                <a href="https://blog.bootswatch.com/rss/">Politique de confidentialité </a>-
                <a href="../help/#donate">Donate </a>
                </li>
                <li class="float-end">
                <a href="https://twitter.com/SPA_Officiel?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter <%=  image_tag "twitter.png", alt: "Description de l'image" %></a>
                <a href="https://github.com/splmloic/thechattonproject">GitHub <%=  image_tag "github.png", alt: "Description de l'image" %></a>
                <a href="https://www.facebook.com/spaofficiel/?locale=fr_FR">Facebook <%=  image_tag "facebook.png", alt: "Description de l'image" %></a>
                <a href="https://www.instagram.com/la_spa/">Instagram <%=  image_tag "instagram.png", alt: "Description de l'image" %></a>
                </li>
            </ul>
            
            <p>Made by <a href="https://thomaspark.co/">Thomas Park</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
            <form class="d-flex float-end">
                <input class="form-control me-sm-2" type="search" placeholder="newletter ">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">S'inscire</button>
            </form>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
            <p>@2024 TCP</p>
        </div>
    </div>
</footer>